
Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple
'''

In [2]:
a = 'Mani'
print(type(a))

b= [34,65,5.7, 'Mani', 'Z', 78, 45]
print(type(b))

c=23.85
print(type(c))

d=(23,45,'Kanta', 48)
print(type(d))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [3]:
print("1: str")
print("2: str")
print("3: list")
print("4: int")

1: str
2: str
3: list
4: int

Q3. Explain the use5 of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [4]:
print(" / This division operator used to perform operation on values and variables")
print(10/5)
print()

print("% Is used to find the remainder")
print(4%3)
print()

print("// is used to perform the floor division")
print(4//3)
print()

print(" ** is used to find the Exponent/power of a given number")
print(3**2)
print()

 / This division operator used to perform operation on values and variables
2.0

% Is used to find the remainder
1

// is used to perform the floor division
1

 ** is used to find the Exponent/power of a given number
9

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [5]:
li = [34,78,'Mani', 4.8, True, "Kanta", 48, False, "A", 4.2]

for i in li:
    print(i, type(i))
    print()

34 <class 'int'>

78 <class 'int'>

Mani <class 'str'>

4.8 <class 'float'>

True <class 'bool'>

Kanta <class 'str'>

48 <class 'int'>

False <class 'bool'>

A <class 'str'>

4.2 <class 'float'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [6]:
A = int(input("Enter the number A: "))
B = int(input("Enter the number B: "))

# Initializing a count variable to keep track of how many times A can be divided by B
count = 0

# Using a while loop to check if A is divisible by B
while A % B == 0:
    A = A / B # Dividing A by B and updating A
    count += 1 # Incrementing the count

# Check if A has become 1 (purely divisible) and print the count
if A == 1:
    print(f"{A} is purely divisible by {B} , {count} times")
else:
    print(f"{A} is not purely divisible by {B}")

Enter the number A: 6
Enter the number B: 2
3.0 is not purely divisible by 2

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [7]:
li = [12,45,78,32,8,56,12,87,20,15,30,45,48,95,15,65,14,48,32,51]

for i in li:
    if i%3 ==0:
        print("{} is divisible by 3 ".format(i))
    else:
        print("{} is not divisible by 3".format(i))

12 is divisible by 3
45 is divisible by 3
78 is divisible by 3
32 is not divisible by 3
8 is not divisible by 3
56 is not divisible by 3
12 is divisible by 3
87 is divisible by 3
20 is not divisible by 3
15 is divisible by 3
30 is divisible by 3
45 is divisible by 3
48 is divisible by 3
95 is not divisible by 3
15 is divisible by 3
65 is not divisible by 3
14 is not divisible by 3
48 is divisible by 3
32 is not divisible by 3
51 is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [8]:
#Mutable
# Mutable means their value can be changed in place without creating new Obj

print("Mutuable Example: ")
li = [2,12,43]
li[2] = 100
li

Mutuable Example:

[2, 12, 100]

In [11]:
#Immtable
#Immutable means those values cannot be changed after they are created

print("Immutable Example: ")
name = 'Mani'
name = 'Kanta'
name

Immutable Example:

'Kanta'